binary_dir=/usr/local/bin
log_dir=/var/log
tftpboot_root=/var/lib/tftpboot
pxeboot_root=/var/pxeboot
iso_dir=/var/iso
apache_root_dir=$pxeboot_root
transmission_root_dir=/var/transmission
transmission_torrent_files=$transmission_root_dir/torrents
transmission_incomplete_files=$transmission_root_dir/incomplete
transmission_downloaded_files=$iso_dir/stock
