#### System Configuration
### IP settings
## Primary Ethernet
primary_eth=eth0
primary_eth_ip=192.168.11.18
primary_eth_subnet=192.168.11.0
primary_eth_netmask=255.255.255.0
primary_eth_broadcast=192.168.11.255
primary_eth_gateway=192.168.11.1
## Secondary Ethernet
secondary_eth=eth1
secondary_eth_ip=192.168.11.19
secondary_eth_subnet=192.168.11.0
secondary_eth_netmask=255.255.255.0
secondary_eth_broadcast=192.168.11.255
secondary_eth_gateway=192.168.11.1
#nameservers
nameserver_1=192.168.11.1
nameserver_2=8.8.8.8

### Transmission BitTorrent Server
## Transmission Login Credentials
transmission_pass=proceed
## Allowable client subnet restriction
#IP_whitelist=10.*.*.*
#IP_whitelist=172.*.*.* #semi-restricted
IP_whitelist=192.168.*.*

### DHCP settings
DHCP_domain=example.com
DHCP_subnet=192.168.11.0
DHCP_netmask=255.255.255.0
DHCP_IP_range_start=192.168.11.201
DHCP_IP_range_end=192.168.11.254
DHCP_gateway=192.168.11.1
DHCP_nameserver1=192.168.11.1
DHCP_nameserver2=8.8.4.4

### NFS & SQUID
## Subnet
#IP_subnet=10.0.0.0/8
#IP_subnet=172.16.0.0/12
IP_subnet=192.168.0.0/16
